<div class="row">
    <ul class="list-inline text-right menuPadding">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLinkActive="menuGreyActive" routerLink="/uiux">UI/UX</a></li>
        <li><a routerLinkActive="menuGreyActive" routerLink="/illustrations">Illustrations</a></li>
        <li><a routerLinkActive="menuGreyActive" routerLink="/paintings">Paintings</a></li>
        <li><a routerLinkActive="menuGreyActive" routerLink="/branding">Branding</a></li>
    </ul>
</div>